#ifndef __CATPOO_CONFIG_H_
#define __CATPOO_CONFIG_H_

#include <Arduino.h>
#include "macros.h"

//
// I2C
//

#define I2C_ADDRESS 0x53

//
// WHEEL SETTINGS
//

// This is in here as a reminder that maybe one day I'd like
// to support 4 wheel varieties.
#define NUM_WHEELS 3

// wheel diameter in millimeters
#define WHEEL_DIAMETER 63
#define WHEEL_CIRCUMFERENCE (WHEEL_DIAMETER * M_PI)

// The motors are 200 steps/rev and the drivers are step at quarter stepping
#define STEPS_PER_REVOLUTION 800

// When the movement is parallel to the wheel, this is the
// ideal distance that the wheel will move.
#define STEP_DISTANCE (WHEEL_CIRCUMFERENCE / STEPS_PER_REVOLUTION)

//
// MOTOR SETTINGS
//

/**
 * Max speed that the motors will step
 */
#define MAX_SPEED 300

#define PULSE_MIN_WIDTH 5

#define MAX_ACCELERATION 100

//
// MOTOR ANGLES
//
// The internal axis of movement is oriented w/ X+ going straight out the
// front when viewed from above. Y+ is to the left. Etc.
//
// Positive wheel rotation is clockwise when viewed looking at the front
// face of the wheel, with the motor in back.
//

// Front left
#define MOTOR_0_ANGLE DEG2RAD(150.0f)

// Front right
#define MOTOR_1_ANGLE DEG2RAD(30.0f)

// Back
#define MOTOR_2_ANGLE DEG2RAD(270.0f)

//
// RANGE FINDER ANGLES
//

// Front left
#define RANGE_0_ANGLE DEG2RAD(120.0f)
// Left side
#define RANGE_1_ANGLE DEG2RAD(180.0f)
// Back left
#define RANGE_2_ANGLE DEG2RAD(240.0f)
// Back right
#define RANGE_3_ANGLE DEG2RAD(300.0f)
// Right
#define RANGE_4_ANGLE DEG2RAD(0.0f)
// Front right
#define RANGE_5_ANGLE DEG2RAD(60.0f)

//
// PIN OUTS
//

#define MOTOR_0_DIR   11
#define MOTOR_0_STEP  12
#define MOTOR_0_PWR   13

#define MOTOR_1_DIR   5
#define MOTOR_1_STEP  6
#define MOTOR_1_PWR   7

#define MOTOR_2_DIR   8
#define MOTOR_2_STEP  9
#define MOTOR_2_PWR   10

#define RANGE_0 A5
#define RANGE_1 A4
#define RANGE_2 A3
#define RANGE_3 A2
#define RANGE_4 A1
#define RANGE_5 A0

// command line compilation issue workaround:
#ifndef LED_BUILTIN
#define LED_BUILTIN 13
#endif

#endif
